h1,h3,h2{
    color: powderblue;
    border: 2px solid purple;
    width: 500px;
    text-align: center;
    background: beige;
}
h1,h2,h3:hover{
    background: crimson;
}
h1,h2,h3:active{
    background: darkcyan;
}
